# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Environment variables
.env

# Logs
*.log


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db